<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftJSONSpeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1151E03B1CCFB2BF0061DA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1151E04F1CCFB2BF0061DA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1151E05A1CCFB2BF0061DA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
